<!DOCTYPE html>
<html>
<head><title>Inicio</title></head>
<body>
  <h2>Cuestionario de la Ley del ISSFAM</h2>
  <form method="POST" action="/examen">
    <label>Elige dificultad:</label><br>
    <select name="dificultad">
      <option value="facil">Fácil</option>
      <option value="intermedio">Intermedio</option>
      <option value="dificil">Difícil</option>
      <option value="dios">Dios</option>
      <option value="todos">Todos</option>
    </select><br><br>
    <button type="submit">Iniciar Examen</button>
  </form>
</body>
</html>
